<ion-header>
  <ion-toolbar>
    <ion-title>userAnimes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of animes">
      <ion-card>
        <img [src]="item.coverImage.medium"/>
        <ion-card-content>
            <ion-card-title *ngIf="item.title.english;else noEnglishTitle">{{ item.title.english }}</ion-card-title>
            <ng-template #noEnglishTitle>{{ item.title.romaji }}</ng-template>
            <ion-card-subtitle>
            Next airing episode : {{ item.nextAiringEpisode.episode }}
            </ion-card-subtitle>
            <ion-label *ngIf="item.nextAiringEpisode"> {{ item.nextAiringEpisode.timeUntilAiring | date: "dd' days and 'HH:mm" }} </ion-label>
            <ion-icon name="close" (click)="remove(item)" ></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
