<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My animes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of animes">
      <ion-card style="width:100%">   
        <ion-card-content>
          <div style="width: 100px; float: left;white-space:nowrap; margin-right: 15px;">
            <img [src]="item.coverImage.medium" style="width: 100px; height: 100%; padding-bottom: 15px;" item-left/>
          </div>
          <div item-right>
            <p *ngIf="item.title.english;else noEnglishTitle">{{ item.title.english }}</p>
            <ng-template #noEnglishTitle>{{ item.title.romaji }}</ng-template>
            <p *ngIf="item.nextAiringEpisode">
                Next airing episode : {{ item.nextAiringEpisode.episode }}
            </p>
            <p>
                Broadcast in :
            </p>
            <p style="word-wrap: break-word;">  {{ item.timeCounter }}  </p>
            <ion-button shape="round" (click)="addCalendar(item)" style="float: right;">Add to Calendar</ion-button>
            <ion-button shape="round" (click)="removeAnime(item)" style="float: right;">Remove</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
