<ion-content class="login-content" padding>
    <ion-row>
      <ion-col>
        <img src="../../assets/Miku-Hatsune-PNG-Image-HD.png" class="logo">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="log-in-button" color="danger" expand="block" (click)="login()">
          LOG IN WITH GOOGLE
        </ion-button>
      </ion-col>
    </ion-row>
    <div *ngIf="(user | async) || {} as user">
      <button ion-button *ngIf="!user.uid" (click)="googleLogin()">
        Login with Google
      </button>
      <div *ngIf="user.uid">
        You're already logged in with UID: {{ user.uid }}
        <button ion-button (tap)="signOut()">
          Signout
        </button>
      </div>
    </div>
  </ion-content>