<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Search for animes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
 
  <ion-list>
    <ion-item *ngFor="let item of animes" (click)="addAnime(item)">
      <ion-card style="width:100%">        
        <ion-card-content>
          <div style="width: 50px; float: left;white-space:nowrap; margin-right: 15px;">
            <img [src]="item.coverImage.medium" style="width: 50px; height: 100%; padding-bottom: 15px;" item-left/>
          </div>
          <div style="vertical-align: middle; display: table-cell; height:75px;">
            <h2 *ngIf="item.title.english;else noEnglishTitle">{{ item.title.english }}</h2>
            <ng-template #noEnglishTitle>{{ item.title.romaji }}</ng-template>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item> 
  </ion-list>
</ion-content>
