<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Search for animes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
 
  <ion-list>
      <ion-item *ngFor="let item of animes" (click)="addAnime(item)">
          <ion-card>        
              <ion-card-content>
                 <div style="width: 50px; float: left;white-space:nowrap;">
                     <img [src]="item.coverImage.medium" style="width: 50px; height: 75px;" item-left/>
                 </div>
                 <div style="width: auto; float: right;white-space:nowrap;">
                       <p *ngIf="item.title.english;else noEnglishTitle">{{ item.title.english }}</p>
                       <ng-template #noEnglishTitle>{{ item.title.romaji }}</ng-template>
                 </div>
               </ion-card-content>
           </ion-card>
        </ion-item> 
  </ion-list>
</ion-content>
